DATABASE_URL=

# Daraja API Configuration
# Get details online and copy this to .env.local and fill in your actual values

MPESA_CONSUMER_KEY=
MPESA_CONSUMER_SECRET=
MPESA_BUSINESS_SHORT_CODE=
MPESA_PASSKEY=
MPESA_ENVIRONMENT=sandbox
# please note I am using ngrok for my callback url
MPESA_CALLBACK_URL=https://your-ngrok-url.ngrok.io/api/mpesa/confirm
# Use 'sandbox' for testing, 'production' for live

# Next.js Configuration
NEXTAUTH_SECRET=karibu
NEXT_PUBLIC_BASE_URL=http://localhost:3000
